:root {
    --background: #2d2d2d;
    --f: #313131;
    --backgroundsec: #3a3939;
    --primary: #0d9ed8;
    --text: #f3e7e7;
}

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: var(--background);
    color: var(--text);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
/* ----------------------------PRESENTACION-------------------- */
h1 {
    font-weight: 700;
    font-size: 32px;
}

h2 {
    color: var(--primary);
}

p {
    padding-bottom: 6px;
    font-weight: 400;
}
nav {
    background-color: var(--backgroundsec);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0px;
    top: 10%;
    margin: 20px;
    width: 40px;
    border-radius: 30px;
    height: 70%;
    padding: 5px;
    z-index: 2;
    animation: appear 1s;
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px;
    list-style-type: none;
    height: 100%;
}

nav > ul > li {
    display: flex;
    justify-content: center;
    padding: 1px;
    background-color: var(--primary);
    border-radius: 50%;
}

nav > ul > li > a {
    display: flex;
}

/*agregar una animacion al nav*/
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #fff;
    }
    50% {
        box-shadow: 0 0 15px #fff;
    }
    100% {
        box-shadow: 0 0 5px #fff;
    }
}
nav > ul > li:hover {
    animation: glow 1s infinite;
}

nav > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35px;
    max-height: 35px;
    overflow: hidden;
}

nav > ul > li > a:first-child {
    margin: 3px;
}

.presentacion {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    padding: 64px;
}

.container-img-perfil {
    border: 8px solid var(--primary);
    box-shadow: 0px 0px 20px 10px var(--primary);
    width: 390px;
    height: 390px;
    min-width: 389px;
    min-height: 389px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
}

.container-img-perfil > img {
    position: relative;
    bottom: -19px;
}

.present {
    margin: 64px 150px 0px 64px;
    max-width: 500px;
}

.h {
    position: absolute;
    width: 98vw;
}

.al-frente {
    z-index: 6;
    position: relative;
}


.botones {
    display: flex;
    gap: 40px;
    border-radius: 16px;
    align-items: center;
    height: fit-content;
}

.presentacion button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
}

#btn:hover{
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
        0 0 100px #008cff;
}

.redes {
    display: flex;
    gap: 16px;
}

.redes a {
    padding: 4px;
    display: inline-block;

    width: fit-content;
    border-radius: 6px;
}
.redes a img {
    width: 50px;
}

.gradient {
    width: 98vw;
    height: 100px;
    background: rgb(45, 45, 45);
    background: linear-gradient(
        0deg,
        rgba(45, 45, 45, 1) 61%,
        rgba(45, 45, 45, 0.8239670868347339) 82%,
        rgba(45, 45, 45, 0.025647759103641476) 100%
    );
    position: absolute;
    bottom: -1px;
}

#presentacion {
    margin-bottom: 200px;
}

/* ------------------------PRESENTACION-------------------- */

/* -----------------------aboutme-------------------------- */

.aboutme {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.img_aboutme {
    max-width: 500px;
}

.img_aboutme img {
    width: 100%;
}

.text_aboutme {
    width: 30%;
    text-align: center;
}
/* -----------------------aboutme-------------------------- */

/* ---------------------------SKILLS---------------------------- */

#skills {
    text-align: center;
    margin-top: 100px;
}

.container_cards_skills {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.card_skill {
    min-width: 270px;
    max-width: 270px;
    background-color: var(--backgroundsec);
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    box-shadow: var(--text) 0px 3px 6px -2px;
}

.card_skill h3 {
    margin-bottom: 20px;
}

.card_skill ul {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 8px;
}

.card_skill ul li {
    list-style: none;
    display: flex;

    border-radius: 13px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 8px 10px;
    gap: 8px;
}
li:hover {
    background-color: var(--f);
}
.skill_img {
    height: 20px;
}

.skill_name {
    margin: 0px;
    padding: 0px;
}

/* ---------------------------SKILLS---------------------------- */
/* ---------------------------PROYECTOS--------------------------- */

.container_proyectos{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;

}
article{
    background-color: var(--backgroundsec);
    width: 350px;
    min-height: fit-content;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 50px;
    }

.preview_container{
    background-image: url(img/Captura\ de\ pantalla\ \(36\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 6px;
}

/* .info_container{} */

.info_container h5{
    font-size: 20px;
    margin: 30px 0px 0px 0px;
}

.kills{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.kills img{
    height: 30px;
}

.buttons_container{
    display: grid;
    grid-template-columns: 1fr 8rem;
    gap: .5rem;
    
}

.buttons_container img{
    height: 30px;
}


.buttons_container button{
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    background: var(--backgroundsec);
    cursor: pointer;
    
    
    transition: 0.5s ease;
    user-select: none;
}








/* ---------------------------PROYECTOS--------------------------- */